<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
<% if user_signed_in? %>
    <h1><%= @alumno.nombre %></h1>
        <div class="field">
            Rut: <%= @alumno.rut %>
        </div>
        <div class="field">
            Correo: <%= @alumno.user.email %>
        </div>
        <div class="field">
            Curso: <%= @alumno.Curso.Nombre %>
        </div>
<%end%>