<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <% if user_signed_in? %>
        <% @cursos.each do |curso| %>
            <h1><%=  curso.Nombre %></h1>
            <div>
                <%= curso.NRC %>
            </div>
        <%end%>
    <%else%>
        <h1> Por Favor Registrese <h1>
    <%end%>