<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
<h1>Index Home</h1>
<h2>Bienvenido!<h2>




<ul class="nav justify-content-end">
    
      <%- if user_signed_in?%>

        <% if current_user.teacher %>
        <h4>wena profe ♡</h4>
        <% else %>
        <h4>wena compadre ♡</h4>

        <% end %>
        
        <li class="btn red field nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="btn be-red white field nav-item">
          <%= link_to ' Iniciar', new_user_session_path %>
        </li>
        <li class="btn be-red white field nav-item">
          <%= link_to ' Registrarme', new_user_registration_path %>
        </li>
      <% end %>
</ul>



