<h1>Index Home</h1>
<h2>Bienvenido Conchatumare<h2>
<h3>El Concho la chupa completa</h3>



<ul class="nav justify-content-end">
    
      <%- if user_signed_in?%>

        <% if current_user.teacher %>
        <h4>wena profe ♡</h4>
        <% else %>
        <h4>wena compare ♡</h4>
        <% end %>
        
        <li class="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item">
            <%= link_to 'Posts', posts_path %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to ' Iniciar', new_user_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to ' Registrarme', new_user_registration_path %>
        </li>
      <% end %>
</ul>


<h5>Real hasta la muerte, oite bb ♡</h4>

